[tool.pytest.ini_options]
pythonpath = ["."]
testpaths = ["tests"]

[project]
name = "proyecto-neumonia"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = []
